.Rproj.user
.Rhistory
.RData
.Ruserdata
motor/interpol/__MACOSX/interpol/._interpol.fig
motor/interpol/__MACOSX/interpol/._interpol.m
motor/interpol/__MACOSX/interpol/._interpol_convert_IDF_TXT.m
motor/interpol/__MACOSX/interpol/._interpol_defaults.m
motor/interpol/__MACOSX/interpol/._interpol_interpolate.m
motor/interpol/ATT00001.htm
motor/interpol/Example_XAxisEyeMovementsFollowingCues.PNG
motor/interpol/interpol.zip
motor/interpol/interpol/interpol.fig
motor/interpol/interpol/interpol.m
motor/interpol/interpol/interpol_convert_IDF_TXT.m
motor/interpol/interpol/interpol_defaults.m
motor/interpol/interpol/interpol_interpolate.m
*.m~
R/visit1_visit2_environment.RData
R/ClinicalVarsDescriptives.html
R/ClinicalVarsDescriptives.Rmd
R/visit1_visit2_environment2.RData
R/visit1_visit2_environment3.RData
R/visit1_visit2_environment4.RData
R/MotorTaskData_environment1.RData
R/temp.RData
R/MotorTaskData_environment2.RData
*.RData
motor/Contrasts.xlsx
R/motor_GenerateDataForNina.R
motor/motor_MultipleFunctionCalls.m
