.Rproj.user
.Rhistory
.RData
.Ruserdata
motor/interpol/__MACOSX/interpol/._interpol.fig
motor/interpol/__MACOSX/interpol/._interpol.m
motor/interpol/__MACOSX/interpol/._interpol_convert_IDF_TXT.m
motor/interpol/__MACOSX/interpol/._interpol_defaults.m
motor/interpol/__MACOSX/interpol/._interpol_interpolate.m
motor/interpol/ATT00001.htm
motor/interpol/Example_XAxisEyeMovementsFollowingCues.PNG
motor/interpol/interpol.zip
motor/interpol/interpol/interpol.fig
motor/interpol/interpol/interpol.m
motor/interpol/interpol/interpol_convert_IDF_TXT.m
motor/interpol/interpol/interpol_defaults.m
motor/interpol/interpol/interpol_interpolate.m
*.m~
R/visit1_visit2_environment.RData
R/ClinicalVarsDescriptives.html
R/ClinicalVarsDescriptives.Rmd
R/visit1_visit2_environment2.RData
R/visit1_visit2_environment3.RData
R/visit1_visit2_environment4.RData
R/MotorTaskData_environment1.RData
R/temp.RData
R/MotorTaskData_environment2.RData
*.RData
motor/Contrasts.xlsx
R/motor_GenerateDataForNina.R
motor/motor_MultipleFunctionCalls.m
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
motor/motor_organizeautomatictremorfiles.m
*.asv
R/motor_GenerateDataForSusanne.R
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
*.html
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
R/motor_GenerateDataForNina.R
R/CodeDump.R
R/permute_tutorial.R
R/shiny/ShinyTest/app.R
R/neuropointillist/npointrun
R/neuropointillist/LICENSE
R/neuropointillist/neuropointillist/.Rbuildignore
R/neuropointillist/neuropointillist/DESCRIPTION
*.Rd
R/neuropointillist/neuropointillist/NAMESPACE
R/neuropointillist/neuropointillist/neuropointillist.Rproj
R/neuropointillist/neuropointillist/R/code.R
R/neuropointillist/neuropointillist/R/npointReadDataSets.R
R/neuropointillist/neuropointillist/R/npointWriteCallingInfo.R
R/neuropointillist/neuropointillist/R/npointWriteMakefile.R
R/neuropointillist/neuropointillist/R/npointWriteMakefilePermute.R
R/neuropointillist/neuropointillist/R/npointWriteNextflowPermute.R
R/neuropointillist/neuropointillist/R/npointWriteOutputFiles.R
R/neuropointillist/neuropointillist/R/npointWritePBSsubmitscript.R
R/neuropointillist/neuropointillist/R/npointWriteSGEsubmitscript.R
R/neuropointillist/neuropointillist/R/npointWriteSlurmsubmitscript.R
R/neuropointillist/npoint
R/neuropointillist/npointmerge
.sync_journal.db
Desktop.ini
R/PowerCalc4Anne.R
R/motor_LongitudinalComparisons_TaskPerf_v02_4Kenan.Rmd
